* {
    box-sizing: border-box;
}
html {
    background-color: #333;
}
body {
    margin: 0;
    font-family: "Caveat", cursive;
    color: white;
    background-color: #333;
}
/* стилі для хідера і навігаційної панелі */
header {
    border-bottom: 3px solid #d35400;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.logo {
    margin-left: 50px;
    color: #f2f2f2;
    font-size: 20px;
    flex-grow: 1;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-links li {
    font-family: "Caveat", cursive;
    margin-right: 20px;
    font-size: 5vh;
}

.nav-links li:hover {
    transform: translateY(-2px);
    transition: all 0.3s ease;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
    text-decoration: none;
    color: #d35400;
}

/*  кінець стилів для хідера */
#product-detail-container {
    background-color: #333;
    font-family: "Caveat", cursive;
    color: white;
}
.product-detail-container h2 {
    text-align: center;
    font-size: 15vh;
}
.details-info-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 10vw;
}
.product-image-container {
    width: 30%;
    height: 100%;
}
.details-info-container img {
    width: 100%;
    height: 50%;
    border-radius: 20px;
}
.details-info-text p{
    font-size: 8vh;
}
.detailInfo {
    font-size: 6vh;
    color: #d35400;
}
.details-info-text span {
    font-size: 4vh;
}
.relatedProductContainer {
    display: flex;
    padding-left: 5px;
    overflow-x: auto;
    justify-content: flex-start;
    gap: 10px;
    background-color: #333;
    color: #fff;
    font-family: "Caveat", cursive;
}
.relatedH3 {
    background-color: #333;
    color: #d35400;
    font-family: "Caveat", cursive;
    text-align: center;
    font-size: 8vh;
    padding: 0;
    margin: 0;
}
.relatedProduct {
    text-align: center;
}
.relatedProduct p{
    font-size: 3vh;
    font-weight: bold;
}
.relatedProduct img{
    border-radius: 10px;
}
.scroll-container {
    display: flex;
    background-color: #333;
    color: #fff;
    align-items: center;
  }
  
  .relatedProductContainer {
    display: flex;
    overflow-x: auto;
    scroll-behavior:smooth;
    width: 100%; /* Або інша ширина в залежності від вашого дизайну */
  }
  
  .scroll-button {
    cursor: pointer;
    font-size: 20px;
    background-color: #d35400;
    text-align: center;
    outline: 2px solid #f16202;
    /* Стилізуйте кнопки, як вам подобається */
  }
  
  /* Приховуємо скролбар */
  .relatedProductContainer::-webkit-scrollbar {
    display: none;
  }
  
  .relatedProductContainer {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  